.item{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 240px;
    height: 320px;
    border: 4px solid rgb(15, 3, 3);
    padding: 15px;
    border-radius: 10px;
    gap:8px;

}
.btn{
    background-color: rgb(250, 33, 188);
    color: white;
}